/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

/* Section styles */
section {
    background-color: #1e1e1e;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}

h2 {
    color: #f39c12;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    width: 60%;
    margin-right: 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #444;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

ul li button {
    background-color: #e74c3c;
    padding: 5px;
    color: white;
    border-radius: 5px;
    float: right;
}

/* Footer styles */
footer {
    margin-top: 20px;
    background-color: #333;
    padding: 10px;
    color: white;
}
